html, body { 
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

:focus {
    outline: none;
}

a {
  color:#2980b9;
  text-decoration:none;
}

a:hover {
    color:#199CF4;
}
